* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff6ea;
    font-family: "Inter Tight";
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    min-width: 25%;
    max-width: 350px;
    padding: 40px 20px;
    border: 10px solid rgb(136, 136, 136);
    border-radius: 40px;
    box-shadow: 3px 3px 5px 3px black;
    /* align-items: center; */
}
.signup {
    height: 95vh;
}
.login {
    height: 95vh;
}
form ,.container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 10px;
}
.heading {
    height: 25%;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 2px solid black; */
}
form {
    /* width: 90%; */
    justify-content: space-evenly;
    /* border: 2px solid black; */
}
.signup-form{
    height: 85%;

}
.login-form{
    height: 80%;
}
form a {
    text-align: right;
}
form p {
    text-align: center;
}
input {
    background-color: white;
    padding: 15px 15px;
   
}
input:focus-visible,button:focus-visible {
    outline: 2px solid blue;
    box-shadow: 2px 2px 5px 2px black;
    /* transform: translate(2); */
     transition: ease-in-out 100ms;
}
button {
    background-color: blue;
    color: white;
    font-size: 1.5em;
    padding: 10px 15px;
}
button,input {
    border: none;
    border-radius:3px ;
}

@media only screen and (max-width: 768px) {
  .container {
    border: none;
    box-shadow: none;
    padding: 0;
    height: 70vh;
  }
}